@mixin for-desktop-up {
    @media (max-width: 1280px) { @content; }
}


.header-wrapper {
    max-width: 100%;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.title {
    font-size: 2em;

    @include for-desktop-up {
        font-size: 1.7em;
    }
}

.search-field {
    height: 100%;
}

.navigation {
    display: flex;
    gap: 3vw;

    .link {
        font-size: 1.9em;
        text-decoration: none;
        color: #000;
        transition: all .3s;
    }

    .link:hover {
        color: rgb(230, 193, 75);
    }

    @include for-desktop-up {
        gap: 2vw;

        .link {
            font-size: 1.7em;
        }
    }
}