.footer-wrapper {
    background-color: rgba(148, 148, 148, 0.45);
    text-align: center;
    padding: 3px 0;
}

.title {
    font-size: 15px;
}

.subtitle {
    font-size: 14px;
}

.github-link {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}