@mixin for-desktop-up {
    @media (max-width: 1280px) { @content; }
}


.container {
    display: flex;
    flex-direction: column;
}

.sort-field {
    width: 80%;
    height: 100%;
    margin: 0 auto 2vh;

    @include for-desktop-up {
        margin: 0 auto 2vh;
    }
}

.book-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;

    @include for-desktop-up {
        gap: 3em;
    }
}