@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

html, body {
    height: 100%;
}

.page-wrapper {
    height: 100%;
    padding: 40px 0;
    overflow-y: auto;
}