@mixin for-desktop-up {
    @media (max-width: 1280px) { @content; }
}


.home-page-wrapper {
    display: flex;
    height: 100%;
}

.text-container {
    width: 100%;
    margin: var(--main-margin);

    .title {
        margin-bottom: 5vh;
        font-size: 4.5em;
    }

    .description {
        font-size: 2.7em;
        margin-bottom: 2vh;
    }

    .push-to-act {
        font-size: 2.2em;
    }

    .list-button {
        margin: 5% 0 0 12%;
        width: 12vw;
        height: 4vh;
        border-radius: 50px;
        border: none;
        background: grey;
        font-size: 1.5em;
        box-shadow: 0 0 7px 2px #000;
    }

    .list-button:active {
        box-shadow: inset 0 0 7px 3px rgb(70, 70, 70);
    }

    @include for-desktop-up {
        .title {
            margin-bottom: 5vh;
            font-size: 3em;
        }
    
        .description {
            font-size: 2em;
            margin-bottom: 2vh;
        }
    
        .push-to-act {
            font-size: 1.8em;
        }

        .list-button {
            margin: 5% 0 0 15%;
            width: 11vw;
            height: 3.8vh;
            border-radius: 50px;
            border: none;
            background: grey;
            font-size: 1.2em;
            box-shadow: 0 0 7px 2px #000;
        }    
    }
}