.home-page-wrapper {
    display: flex;
    height: 100%;
}

.text-container {
    width: 100%;
    margin: var(--main-margin);

    .title {
        margin-bottom: 30px;
        font-size: 50px;
    }

    .description {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .push-to-act {
        font-size: 35px;
    }

    .list-button {
        margin: 40px 0 0 15%;
        width: 200px;
        height: 40px;
        border-radius: 50px;
        border: none;
        background: grey;
        font-size: 18px;
        box-shadow: 0 0 7px 2px #000;
    }

    .list-button:active {
        box-shadow: inset 0 0 7px 3px rgb(70, 70, 70);
    }
}

.decor-container {
    width: 100%;

    .books {
        margin: 20% 30px 0 0;
        width: 589px;
        height: 502px;
        background: url('../../assets/images/home-page/books.png');
        transform: rotate(90deg) scale(1.2);
    }
}