<div class="home-page-wrapper">
    <div class="text-container">
        <h1 class="title">
            Reading Magadan
        </h1>
        <p class="description">
            Huge assortment of books for every <br> taste and at the lowest prices
        </p>
        <p class="push-to-act">
            Choose the one you like and place <br> your order right on the website
        </p>
        <button routerLink="/store" class="list-button">Book list</button>
    </div>
    <div class="decor-container">
        <img class="books" src="../../assets/images/home-page/books.png" alt="">
    </div>
</div>
